body {
  font-family: 'Roboto', sans-serif;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(img/main_img.jpg) no-repeat center;
}

* {
  box-sizing: border-box;
}

header {
  background-color: black;
  height: 100px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_svg {
  width: 100px;
}

.nav {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  display: inline-block;
}

.header_nav_link {
  text-decoration: none;
  text-transform: capitalize;
  color: aliceblue;
  padding: 20px;
}

.header_nav_link:hover {
  text-decoration: underline;
  color: blanchedalmond;
}

.active_link {
  text-decoration: underline;
  color: blanchedalmond;
}

.login {
  height: 700px;
}

.login_container {
  height: 100%;
  background: url("img/main_img.jpg") no-repeat center;
}

.login_form {
  position: relative;
  top: 500px;
  text-align: center;
}

.label {
  color: bisque;
}

.input {
  background-color: transparent;
  color: bisque;
}

.login_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  flex-direction: column;
  margin: 0 auto;
}

.field_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0px 10px 0;
  width: 300px;
}

.btn_login {
  width: 100px;
  height: 35px;
  background-color: bisque;
  border-radius: 15px;
}

.btn_login:hover {
  cursor: pointer;
  background-color: rgb(237, 202, 159);
}